h1.display-4 {
  text-align: center;
  justify-content: center;
  align-content: center;
  font-family: 'Rammetto One';
  color: azure;
  margin-top: -40px;
}

.liner-Gradient {
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%)
}

.grid, .panel {
  padding-top: 20px;
  width: 360px;
  text-align: center;
  margin: auto;
  clear: both;
}

.button {
  display: inline-block;
  margin: 8px;
  background-color: transparent;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 50px;
  font-family: 'Rammetto One';
}

.cell {
  display: inline-block;
  float: left;
  background-color: #4466ae;
  width: 100px;
  height: 100px;
  margin: 5px;
  color: rgb(255, 251, 251);
  text-align: center;
  font-size: 70px;
  font-family: 'Bungee Inline';
  line-height: 100px;
  cursor: pointer;
  border-radius: 50px;
}

.winning-cell {
  display: inline-block;
  float: left;
  background-color: rgb(60, 59, 59);
  width: 100px;
  height: 100px;
  margin: 5px;
  color: rgb(0, 249, 91);
  text-align: center;
  font-size: 70px;
  font-family: 'Bungee Inline';
  line-height: 100px;
  cursor: pointer;
  border-radius: 50px;
}

.cell:nth-child(3n+1) {
  clear: left;
}

.line {
  display: block;
  width: 100%;
  font-size: 30px;
  line-height: 60px;
  text-align: center;
  background-color: transparent;
  font-family: 'Maven Pro';
  color: #FFFFFF;
}